<h1>Create Your cohort</h1>
<%= form_for @cohort do |f| %>
<label>name</label><br>
  <%= f.text_field :name %><br>

  <label>start date</label><br>
  <%= f.date_field :start_date %><br>
  <label>start date</label><br>
  <%= f.date_field :end_date %><br>




<p>
<%= f.submit %>
</p>
<% end %>
