<h1><%=@cohort.name%></h1>

<h3>Cohort Name:  <%=@cohort.name%></></h3><br>
<h3>Start Date: <p><%=@cohort.start_date%></p></h3><br>
<h3>End Date: <p><%=@cohort.end_date%></p></h3><br>
<h3>Instructor: <p><%=@cohort.instructor.first_name%></p></h3><br>
<h3>courses: <p><%=@cohort.course.name%></p></h3><br>



<h3>Students in this Cohort:<br>

  <%@cohort.student.each do |stud|%>
  <%=stud.last_name%>, <%=stud.first_name%>
  <%end%>
  </h3>
<br>
<h3>
<p><%= link_to "edit cohort", edit_cohort_path %></p>
</h3>
