


<h2>All Students</h2>
<table cellspacing="30">
  <tr>
  <th>First Name</th>
  <th>Last Name</th>

  <th>Age</th>
  <th>Education</th>
  </tr>

<% @student.each do |stud| %>
    <tr id="studen-<%= stud.id %>">
      <td><%= stud.first_name %></td>
      <td><%= stud.last_name %></td>
      <td><%= stud.age %></td>
      <td><%= stud.education %></td>
      <td><a href="/students/<%=stud.id%>">View Student</a></td>
      <% if logged_in? %>
      <td><a href="/students/<%=stud.id%>/edit"> Edit Student </a></td>
      <td> <%= link_to "delete student",student_path(stud.id), method: :delete, :remote => true %><td>
    <% end %>
<% end %>

</tr>
</table>
