<style>
  .st-new{
    display: block;
    margin:auto;
    border:#fff 1px solid;
    box-shadow: rgba(0,0,0,0.5) 0px 3px 20px;
    background-image: linear-gradient(white, transparent, transparent);
    width: 500px;
    height: 400px;
    margin:0;
    position: relative;
    top:50%;
    left:60%;
    transform: translate(-50%, -50%);
  }

</style>
<div class="st-new">

 <h4>Create Your student</h4>
<%= form_for @student do |f| %>
<label>first name</label><br>
  <%= f.text_field :first_name %><br>
  <label>last name</label><br>
  <%= f.text_field :last_name %><br>
  <label>what is your age</label><br>

  <%= f.number_field :age %><br>

<label>What is your education</label>
<%= f.select :education, ["Highschool Diploma", "Bachlor Degree", "Master's Degree", "Ph.D"] %> <br>


<p><%= f.file_field :avatar, direct_upload: true %></p>


<p>
<%= f.submit %>
</p>
<% end %>

</div>
