:<style>
  .inst-new{
    display: block;
    margin:auto;

    border:black 1px dotted;
    box-shadow: rgba(0,0,0,0.5) 0px 3px 20px;
    background-image: linear-gradient(white, transparent, transparent);
    width: 700px;
      height: 450px;
      margin:0;
    position: relative;
    top:50%;
    left:60%;
    transform: translate(-50%, -50%);
  }

</style>
<div class="inst-new">

<h4>Create Your instructors</h4>
<%= form_for @instructor do |f| %>
<label>First Name:</label><br>
  <%= f.text_field :first_name %><br>
  <label>Last Name:</label><br>
  <%= f.text_field :last_name %><br>
  <label>Age:</label><br>

  <%= f.number_field :age %><br>
  <label>Salary:</label><br>

  <%= f.number_field :salary %><br>

  <label>Education:</label>
  <%= f.select :education, ["Highschool Diploma", "Bachlor Degree", "Master's Degree", "Ph.D"] %> <br>


  <p><%= f.file_field :avatar, direct_upload: true %></p>


<p>
<%= f.submit %>
</p>
<div class="show">
  <p><%= link_to(image_tag("https://img.icons8.com/ios/50/000000/circled-left.png"), root_path) %></p>
  <span class="show-edt">Go Back</span>
</div>
<% end %>

</div>
