<div class="inst">

<h2>instructor!</h2>

<h3>First Name:<br><%= @instructor.first_name %></h3>
<h3>Last Name:<br><%= @instructor.last_name %></h3>
<h3>Age:<br><%= @instructor.age %></h3>
<h3>Education:<br><%= @instructor.education %></h3>
<h3>Salary:<br><%= @instructor.salary %></h3>


</div>
