<style>
  .inst-grid{
    display: grid;
    columns-gap: 20px;
    grid-template-columns:300px 300px ;
    padding:10px;
    grid-column-gap: 10%;
    margin:0;
    position: relative;
    top:50%;
    left:60%;
    transform: translate(-50%, -50%);
    width: 60%;
    border: 1px dotted black;
    box-shadow: 0px 4px 0px black;
    text-align: center;
  }
  .inst-img img{
    float:left;
    height:300px;
    width:300px;
  }
  h2{
    text-align:right;
  }
  p{
    text-align:center;
    font-size:20px;
  }


</style>


<div class="inst-grid">
  <h2><%= @instructor.first_name %>  <%= @instructor.last_name %></h2><br>

<div class="inst-img">
  <%= image_tag(@instructor.avatar) if @instructor.avatar.attached?%>
</div>


<div class="inst-inf">

<p>First Name:<%= @instructor.first_name %></p>
<p>Last Name:<%= @instructor.last_name %></p>
<p>Age:<%= @instructor.age %></p>
<p>Education:<%= @instructor.education %></p>
<p>Salary:<%= @instructor.salary %></p>
<div class="show">
  <%= link_to(image_tag("https://img.icons8.com/ios/50/000000/multi-edit.png"), edit_instructor_path) %>
<span class="show-edt"> Edit Instructor</span>
  </div>
<div class="show">
  <p><%= link_to(image_tag("https://img.icons8.com/ios/50/000000/circled-left.png"), instructors_path) %></p>
<span class="show-edt"> Go Back</span>
</div>

</div>
</div>
