<% if logged_in? %>
<h4> DASHBOARD </h4>
<div class="grid-container">
<h1>Create Course  </h1>
  <div class="grid-item" > <%= link_to(image_tag("/assets/course.png"), new_course_path) %></div>


<h1> Create Cohort  </h1>
  <div class="grid-item"><%= link_to(image_tag("/assets/cohort.png"), new_cohort_path) %></div>

  <h1> Create Instructor  </h1>
  <div class="grid-item"><%= link_to(image_tag("/assets/teacher.png"), new_instructor_path) %></div>

  <h1> Create Student  </h1>
  <div class="grid-item"><%= link_to(image_tag("/assets/student.png"), new_student_path) %></div>

</div>

<% else %>

<style >

  body{
    background: url("https://i.pinimg.com/originals/b7/f9/dc/b7f9dc994fd8d79ee6ec99794bc7c71f.jpg");
    background-size:cover;
    background-repeat:no-repeat;
    zoom: 80%;

  }

  #loader {
    color: #ffffff;
     font-size: 90px;
     width: 1em;
     height: 1em;
     top:35%;
     border-radius: 50%;
     margin: 72px auto;
     position: relative;
     -webkit-transform: translateZ(0);
     -ms-transform: translateZ(0);
     transform: translateZ(0);
     -webkit-animation: spin-log 1.7s infinite ease, round 1.7s infinite ease;
     animation: spin-log 1.7s infinite ease, round 1.7s infinite ease;
  }

  @-webkit-keyframes spin-log {
    0% {
      box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    5%,
    95% {
      box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    10%,
    59% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
    }
    20% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
    }
    38% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
    }
    100% {
      box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
  }
  @-webkit-keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
  .logo{
    width:63px;
      height: 0px;
      margin:0;
    position: relative;
    top:45%;
    left:50%;
    transform: translate(-50%, -50%);
  }
  .logo img {
    height:60px;
    width:60px;
  }
</style>
<div class="logo">
  <%= link_to(image_tag("/assets/mac2.png"), login_path) %>

</div>
<div id="loader">
</div>

<!-- <script>
  var delay = 2000;
setTimeout(function(){ window.location = '/login'; }, delay);
</script> -->
<% end %>
