<ul>
  <li><%= link_to "create cohort", new_cohort_path %></li>
  <li><%= link_to "create student", new_student_path %></li>
  <li><%= link_to "create instructor", new_instructor_path %></li>
  <li><%= link_to "create course", new_course_path %></li>

</ul>


<hr>

<li><%= link_to "view all cohort", cohorts_path %></li>
<li><%= link_to "view all student", students_path %></li>
<li><%= link_to "view all instructor", instructors_path %></li>
<li><%= link_to "view all course", courses_path %></li>
