<style>
  .cors-new{
    display: block;
    margin:auto;

    border:black 1px dotted;
    box-shadow: rgba(0,0,0,0.5) 0px 3px 20px;
    background-image: linear-gradient(white, transparent, transparent);
    width: 400px;
      height: 350px;
      margin:0;
    position: relative;
    top:50%;
    left:55%;
    transform: translate(-50%, -50%);
  }

</style>
<div class="cors-new">

<h4>Create Your course</h4>
<%= form_for @course do |f| %>
<label>name</label><br>
 <%= f.text_field :name %><br>
 <label>hours</label><br>
 <%= f.text_field :hours %><br>
 <p><%= f.file_field :avatar, direct_upload: true %></p>
<p>
<%= f.submit %>
</p>
<div class="show">
  <p><%= link_to(image_tag("https://img.icons8.com/ios/50/000000/circled-left.png"), root_path) %></p>
  <span class="show-edt">Go Back</span>
</div>
<% end %>

</div>
