<!DOCTYPE html>
<html>
  <head>
    <title>Pamelas</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>
  <body>


    <div id="toggle">
    <div class="container">
      <div class="top">
        <span class="dot"></span>
        <span class="dot2"></span>
        <span class="dot3"></span>
        <span class="middle"><img src="https://img.icons8.com/material-outlined/50/000000/home.png">
              <input type="text"size="35" value="<%= request.original_url%>">
            </span>
      </div>


      <%= render 'layouts/sidenav'%>




  <div class="main">
  <%= yield %>
</div>

</div>
  <%= render 'layouts/footer'%>

<script>

  $('.dot').click(function() {
    $('.container,.main-container').toggle('slow');
    $(".box6").show(400);

  });


  $('.dot2').click(function() {

    $('.container' ).animate({top:"0px",bottom:"0px", left:"0px",width:"100%"});
    $('.sidebar1').animate({top:"30px",bottom:"0px", left:"0px"});
  });


  $('.dot3').click(function() {
    $('.container, .main-container, .sidebar1').animate({top:$(window).height(),width:'0px'});
    $(".box5").show(400);
});



</script>
</body>
</html>
