<!DOCTYPE html>
<html>
  <head>
    <title>Pamelas</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>
  <body>


    <div id="toggle">
    <div class="container">
      <div class="top">
        <span class="dot"><span class="close">&times;</span></span>
        <span class="dot2"><span class="close">&times;</span></span>
        <span class="dot3"></span>
        <span class="middle">
              <input type="text"size="35" value="<%= request.original_url%>">
            </span>
      </div>




      <div class="main-container">

                <div class="sidebar1">
                    <div class="logo">
                      <a href="/"> <img src="https://megalopolismx.com/images/opinion/autor-def.png"></a>
                    </div>
                    <br>
                    <div class="left-navigation">
                        <ul class="list">
                            <h3><strong>Account Settings</strong></h3>
                            <li><%= link_to "view all cohort", cohorts_path %></li>
                            <li><%= link_to "view all student", students_path %></li>
                            <li><%= link_to "view all instructor", instructors_path %></li>
                            <li><%= link_to "view all course", courses_path %></li>
                            <li><%= link_to "create cohort", new_cohort_path %></li>
                            <li><%= link_to "create student", new_student_path %></li>
                            <li><%= link_to "create instructor", new_instructor_path %></li>
                            <li><%= link_to "create course", new_course_path %></li>

                        </ul>


                      </div>

                    </div>
  <div class="main">
  <%= yield %>
  </div>




<script>

  $('.dot').click(function() {
    $('.main-container, .container').toggle('slow');
  });

  $('.dot2').click(function() {
    $('.container' ).animate({top:"0px",bottom:"0px", left:"0px",width:"100%"})
    $('.sidebar1').animate({top:"43px",bottom:"0px", left:"0px"})
  });
</script>


  </body>
</html>
