<!DOCTYPE html>
<html>
  <head>
    <title>Pamelas</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>
  <body>


    <div id="toggle">
    <div class="container">
      <div class="top">
        <span class="dot"><span class="close">&times;</span></span>
        <span class="dot2"><span class="close">&times;</span></span>
        <span class="dot3"><span class="close">&times;</span></span>
        <span class="middle">
              <input type="text"size="35" value="<%= request.original_url%>">
            </span>
      </div>




      <%= render 'layouts/sidenav'%>

  <div class="main">
  <%= yield %>
  </div>
</div>

<footer>
  <li style="list-style-type:none;"><a class='logout'><img src="https://img.icons8.com/ios/50/000000/shutdown.png"></a></li>
  <div id="main-footer">
  <div id="footer">
  <ul class="foot">

    <li>
      <a><img src="/assets/chrome-icon.png" /></a>
    </li>


      <li>
      <a><img src="/assets/linkedin-icon.png" ></a>
    </li>
      <li>
      <a><img src="/assets/safari-icon.png" /></a>
    </li>
<li>
<a><img src="/assets/atom.png"></a>
</li>
      <li>

      <a><img src="/assets/linkedin-icon.png" /></a>
    </li>
    <li>
      <a><img src="https://img.icons8.com/ios/50/000000/mac-os.png"></a>
    </li>
      <li>

      <a><img src="/assets/chrome-icon.png" /></a>
    </li>

    <li>
    <a><img src="/assets/safari-icon.png" /></a>
  </li>

<li>

<a href="#" title=""><img src="/assets/linkedin-icon.png" /></a>
</li>




  </ul>
    </div>
  </div>

  <li style="list-style-type:none;">

    <a href="#" class="box5" style="display:none;"><img src="/assets/chrome-icon.png" /></a>
  </li>

</footer>


<script>

  $('.dot').click(function() {
    $('.container,.main-container').toggle('slow');
  });


  $('.dot2').click(function() {

    $('.container' ).animate({top:"0px",bottom:"0px", left:"0px",width:"100%"});
    $('.sidebar1').animate({top:"43px",bottom:"0px", left:"0px"});
  });


  $('.dot3').click(function() {
    $('.container, .main-container, .sidebar1').animate({top:$(window).height(),width:"20px"});
    $(".box5").show(400);
});



</script>

</body>
</html>
